@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="device_field">Device</label>
            <input id="device_field" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label for="channel_field">channel</label>
            <input id="channel_field" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <button onclick="requestDevice()" type="button">Send!</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="usagechart_div">
        </div>
    </div>
</div>
<script type="text/javascript">
        var numberOfMinutestoView = 60;
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        var data = [];

        

        function addData(date, value) {
            var chart = new google.visualization.AreaChart($('#usagechart_div').get(0));

            var newData = []

            var startIndex = data.getNumberOfRows() - numberOfMinutestoView;
            startIndex = (startIndex < 0) ? 0 : startIndex;
            for (var i = 0; i < 9; i++) {
                newData[i] = data.rows[startIndex + i].c;
            }

            data = new google.visualization.DataTable();
            data.addColumn('string', 'time');
            data.addColumn('number', 'value');
            data.addColumn('number', 'definitiveValue');

            for (var i = 0; i < newData.length; i++) {
                data.addRow(newData[i]);
            }
            data.addRow([
              date,
              parseFloat(value),
              parseFloat(value)
            ]);

            chart.draw(data, {
                title: 'Verbruik meter X'
            });
        }

        

        function drawChart() {
            data = google.visualization.arrayToDataTable([
              ['Minute', 'kWh', "KwH"],
              ["10:00:00", 1000, 1000],
              ["10:01:00", 1000, 1000],
              ["10:02:00", 1170, 1170],
              ["10:03:00", 1200, 1200],
              ["10:04:00", 1250, 1250],
              ["10:05:00", 1275, 1275],
              ["10:06:00", 1310, 1310],
              ["10:08:00", 1380, 1380],
              ["10:09:00", 1380, 1380],
              ["10:10:00", 1380, 1380],
              ["10:11:00", 1380, 1380],
              ["10:12:00", 1380, 1380],
              ["10:13:00", 1380, 1380],
              ["10:14:00", 1380, 1380],
              ["10:15:00", 1380, 1380],
              ["10:16:00", 1380, 1380],
              ["10:17:00", 1380, 1380],
              ["10:18:00", 1380, 1380],
              ["10:19:00", 1380, 1380],
              ["10:20:00", 1380, 1380],
              ["10:21:00", 1380, 1380],
              ["10:22:00", 1380, 1380],
              ["10:23:00", 1380, 1380],
              ["10:24:00", 1380, 1380],
              ["10:25:00", 1380, 1380],
              ["10:26:00", 1380, 1380],
              ["10:27:00", 1380, 1380],
              ["10:28:00", 1380, 1380],
              ["10:29:00", 1380, 1380],
              ["10:30:00", 1380, 1380],
              ["10:31:00", 1380, 1380],
              ["10:32:00", 1380, 1380],
              ["10:33:00", 1380, 1380],
              ["10:34:00", 1380, 1380],
              ["10:35:00", 1380, 1380],
              ["10:36:00", 1380, 1380],
              ["10:37:00", 1380, 1380],
              ["10:38:00", 1380, 1380],
              ["10:39:00", 1380, 1380],
              ["10:40:00", 1380, 1380],
              ["10:41:00", 1380, 1380],
              ["10:42:00", 1380, 1380],
              ["10:43:00", 1380, 1380],
              ["10:44:00", 1380, 1380],
              ["10:45:00", 1380, 1380],
              ["10:46:00", 1380, 1380],
              ["10:47:00", 1380, 1380],
              ["10:48:00", 1380, 1380],
              ["10:49:00", 1380, 1380],
              ["10:50:00", 1380, 1380],
              ["10:51:00", 1380, 1380],
              ["10:52:00", 1380, 1380],
              ["10:53:00", 1380, 1380],
              ["10:54:00", 1380, 1380],
              ["10:55:00", 1380, 1380],
              ["10:56:00", 1380, 1380],
              ["10:57:00", 1380, 1380],
              ["10:58:00", 1380, 1380],
              ["10:59:00", 1380, 1380],
            ]);
            var options = {
                title: 'Verbruik meter X',
                hAxis: { title: 'Time', titleTextStyle: { color: '#333' } },
                vAxis: { minValue: 0 },
                seriesType: 'bars',
                series: { 1: { type: 'area' } },
                
            };

            var chart = new google.visualization.ComboChart(document.getElementById('usagechart_div'));
            chart.draw(data, options);
        }
</script>
<script>
    function requestDevice(){
        var hub = $.connection.signalRHub;
        hub.server.requestSubscription($('#device_field').val(), $('#channel_field').val());
    }
</script>