@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h1>Standen</h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h1>Grafiekje</h1>
        </div>
    </div>
</div>